
.header {
  
}

h1 {
  font-size: 48px;
  margin-bottom: -25px;
  text-align: center:
 
}

h2 {
  font-size: 16px;
  text-align: right;
  margin-bottom: -10px
  
}

.posdates {
   display: inline-grid;
}


#location {
    text-align: left;
  
  {
