
.header {
  
}

h1 {
  font-size: 48px;
  margin-bottom: -25px;
  text-align: center:
 
}

h2 {
  font-size: 16px;
  text-align: right;
  margin-bottom: -10px;
  
}

#location {
    text-align: left;
  
  {

.posdates {
   text-align: right;
  margin-bottom:-10px;
}

.jobdes {
  
  {

